{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        {% if instance %}
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <h1 class="p-title"><b>На портале профкома института МИЭТ вышла новость:</b></h1>
          <h2><a href="http://127.0.0.1:8000/news/{{instance.pk}}" # TODO вставить новый урл перед номером новости
              style="font-weight: 500; font-size: 1.15em; padding-bottom: 10px;">
              {{ instance.title|truncatechars:100 }}</a></h2>
          <h4><a href="{{ ALLOWED_HOSTS }}/" # TODO вставить новый урл перед номером новости
              style="font-weight: 500; font-size: 1.15em; padding-bottom: 10px;">
              {{ instance.main_text|truncatechars:200|safe }}</a></h4>
        </div><!-- card-view -->
        <div>
          <!-- container -->
          <a href="http://127.0.0.1:8000/unsubscribe/{{secret_key}}">Отписка от рассылки
          </a>
          {% endif %}
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
</section>
{% endblock %}