{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Тестовая страница {% endblock %}
{% block content %}
<section class="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-4">
          <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
            <h4 class="p-title"><b>Мой аккаунт</b></h4>
            <h4 style="text-align: center">Смена пароля</h4>
            <form action="" method="post"> {% csrf_token %}
            {{change_password_form.as_p}}
              <button type="submit" class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block font-11"
              style="margin-top: 7px; font-size: 1.1em; height: 35px; line-height: 35px; width: 100%">
              Подписаться
            </button>
            </form>
          </div><!-- bg-white -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>
{% endblock %}
