{% extends "miet_union/base.html" %}
{% load static %}
{% block title %} О профсоюзе {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <h1 style="text-align:center; color: black;">Профсоюз</h1>
          <p class="mtb-25">
            <h5 style="color: black;"><b>Профсоюз</b> – это добровольное общественное объединение граждан,
              связанных общими производственными, профессиональными интересами по роду их деятельности,
              создаваемое в целях представительства и защиты их социально-трудовых прав и интересов.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">Право граждан на объединение в профсоюзы гарантировано Конституцией Российской
              Федерации (ст. 30)
              и Законом «О профессиональных союзах, их правах и гарантиях деятельности» (ст. 2). Каждый, достигший
              возраста 14 лет и
              осуществляющий трудовую (профессиональную) деятельность, имеет право создать профсоюз, вступить в него и
              заниматься профсоюзной
              деятельностью. При этом не требуется предварительного разрешения каких-либо органов государственной
              власти, органов местного самоуправления,
              работодателей на создание профсоюза и на вступление в профсоюз.
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">Цели Профсоюза</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <al>
                <li>Представительство и защита индивидуальных и коллективных социальных, трудовых, профессиональных прав
                  и интересов чле­нов Профсоюза, направленные на повышение уровня жизни членов Профсоюза;</li>
                <li>Реализация прав Профсоюза и его организаций на представитель­ство в коллегиальных органах
                  управления организациями систе­мы образования;</li>
                <li>Повышение качества жизни членов Профсоюза.</li>
              </al>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">Права члена Профсоюза</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>Член Профсоюза имеет право:
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <ol>
                <li>На защиту Профсоюзом его социальных, трудовых, профессио­нальных прав и интересов.</li>
                <li>Пользоваться преимуществами и льготами в результате заклю­чения Профсоюзом и его организациями
                  коллективных договоров и соглашений.</li>
                <li>Пользоваться средствами профсоюзных фондов в соответствии с их положениями, услугами
                  кредитных потребительских кооперати­вов, других организаций в соответствии с их уставными
                  документами с учетом профсоюзного стажа.</li>
                <li>Получать материальную помощь и заёмные средства в порядке и размерах, устанавливаемых
                  соответствующим выборным коллегиаль­ным профсоюзным органом с учетом профсоюзного стажа.</li>
                <li>Получать бесплатную юридическую помощь по вопросам, отно­сящимся к деятельности Профсоюза,
                  а также поддержку при прохож­дении медицинской экспертизы в случае утраты трудоспособности.</li>
                <li>Пользоваться оздоровительными, культурно-просветительными учреждениями и спортивными сооружениями
                  Профсоюза на льгот­ных условиях с учетом профсоюзного стажа.</li>
                <li>Участвовать в профсоюзной деятельности, вносить предложе­ния по совершенствованию нормативных
                  правовых и иных актов,
                  ре­гулирующих гарантии в сфере социально-трудовых, профессиональ­ных и других прав и интересов.</li>
                <li>Выдвигать инициативы по реализации целей и задач Профсою­за, вносить предложения в профсоюзные
                  органы.</li>
                <li>Принимать участие в разработке, обсуждении и принятии реше­ний, высказывать и отстаивать свое
                  мнение, получать информацию о деятельности Профсоюза.</li>
                <li>Обращаться в профсоюзные органы с вопросами, относящимися к их компетенции, в том числе обжаловать
                  решения, принятые в нарушение Устава Профсоюза, и
                  получать ответ по существу своего обращения.</li>
                <li>Избирать и быть избранным делегатом на профсоюзные конфе­ренции и съезды, в выборные профсоюзные
                  органы.</li>
                <li>Участвовать в заседании профсоюзного органа, на котором рас­сматривается его заявление или
                  предложение, вопросы выполнения им уставных требований.</li>
                <li>Добровольно выйти из Профсоюза на основании личного за­явления.</li>
              </ol>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-10">
              <h1 style="text-align:center; color: black;">Обязанности члена Профсоюза</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>Член Профсоюза обязан:
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <ol>
                <li>Соблюдать Устав Профсоюза, участвовать в работе первичной профсоюзной организации, выполнять решения
                  профсоюзных орга­нов, возложенные профсоюзные обязанности и поручения.</li>
                <li>Выполнять обязанности, предусмотренные коллективными дого­ворами, соглашениями.</li>
                <li>Проявлять солидарность и участвовать в коллективных действиях Профсоюза и его организаций.</li>
                <li>Способствовать росту авторитета Профсоюза, не допускать дейс­твий, наносящих вред профсоюзным
                  организациям и Профсоюзу.</li>
                <li>Участвовать в собрании первичной профсоюзной организации (профгруппы), а в случае избрания делегатом
                  — в работе конференций, Съезда Профсоюза.</li>
                <li>Своевременно и в установленном порядке уплачивать членские взносы.</li>
                <li>Состоять на учете в первичной профсоюзной организации по ос­новному месту работы, учебы или по
                  решению территориальной орга­низации Профсоюза — в другой
                  первичной профсоюзной организации.</li>
              </ol>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-10">
              <h1 style="text-align:center; color: black;">Права первичной профсоюзной организации</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>Первичная профсоюзная организация имеет право:
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <ol>
                <li>Осуществлять прием и исключение из Профсоюза.</li>
                <li>Избирать (делегировать) своих представителей в вышестоящие профсоюзные органы, отзывать и заменять
                  их.</li>
                <li>Вносить предложения и проекты документов на рассмотрение вышестоящих профсоюзных органов, получать
                  информацию
                  о ре­зультатах их рассмотрения.</li>
                <li>Обращаться в вышестоящие профсоюзные органы с ходатайс­твом о защите прав и интересов членов
                  Профсоюза
                  в государствен­ных органах и органах местного самоуправления.</li>
                <li>Участвовать в разработке предложений Профсоюза к проектам законов и иных нормативных правовых актов,
                  регулирующих
                  соци­ально-трудовые права работников и социальные права обучающихся.</li>
                <li>Представлять интересы работников при проведении коллектив­ных переговоров, заключении и изменении
                  коллективного договора,
                  осуществлении контроля за его выполнением, а также при реализа­ции права на участие в управлении
                  организацией
                  системы образова­ния, рассмотрении трудовых споров.</li>
                <li>Обращаться в соответствующие органы государственной власти и органы местного самоуправления для
                  разрешения споров, связан­ных с деятельностью
                  первичной профсоюзной организации и защи­той прав и интересов членов Профсоюза.</li>
                <li>Вносить предложения и участвовать в деятельности территори­альной организации Профсоюза, в том числе
                  по разработке и заклю­чению отраслевого
                  территориального и регионального соглашений, других соглашений.</li>
                <li>Вносить предложения по кандидатуре председателя соответс­твующей вышестоящей территориальной
                  организации Профсоюза.</li>
                <li>Обращаться в вышестоящие профсоюзные органы с предло­жениями об организации массовых акций, в том
                  числе о проведении митингов, демонстраций,
                  шествий, пикетирования, объявлении за­бастовки, а также о поддержке коллективных действий, проводимых
                  первичной профсоюзной организацией.</li>
                <li>Обращаться в соответствующую территориальную организа­цию Профсоюза для получения консультаций,
                  помощи и поддержки, получения и распространения
                  информации, необходимой для своей деятельности.</li>
                <li>Принимать решение об изменении размера ежемесячного член­ского профсоюзного взноса, но не ниже
                  размера, установленного на­стоящим Уставом.</li>
                <li>Устанавливать льготный размер членского профсоюзного взно­са для лиц, не имеющих заработной платы,
                  стипендии.</li>
                <li>Вносить предложения о поощрении членов Профсоюза.</li>
              </ol>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-10">
              <h1 style="text-align:center; color: black;">Обязанности первичной профсоюзной организации</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>Первичная профсоюзная организация обязана:
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <ol>
                <li>Выполнять Устав Профсоюза и решения профсоюзных органов, принятые в соответствии с Уставом
                  Профсоюза.</li>
                <li>Принимать участие в реализации целей и задач Профсоюза, про­являть солидарность в защите прав и
                  интересов членов Профсоюза.</li>
                <li>Разрабатывать и заключать коллективный договор, контролировать его вьшолнение, содействовать
                  заключению и контролю за выполнением
                  иных соглашений по регулированию социально-трудовых отношений.</li>
                <li>Проводить работу по вовлечению в Профсоюз новых членов.</li>
                <li>Осуществлять контроль за полнотой и своевременностью удержа­ния и перечисления членских профсоюзных
                  взносов работодателем.</li>
                <li>Выполнять решения по отчислению средств на организацию де­ятельности соответствующей территориальной
                  организации Профсою­за в
                  соответствии с установленными порядком, сроками и размерами.</li>
                <li>Представлять в выборные органы соответствующих территори­альных организаций Профсоюза данные о
                  численности членов Про­фсоюза,
                  другие статистические сведения, финансовую отчетность и другую информацию по установленным формам.
                </li>
                <li>Вносить на рассмотрение собрания (конференции), выборных коллегиальных органов вопросы, предложенные
                  к рассмотрению
                  вы­шестоящими профсоюзными органами.</li>
                <li>Проявлять солидарность и принимать участие в организации и проведении коллективных действий
                  Профсоюза.</li>
                <li>Не допускать действий, наносящих вред и причиняющих ущерб организациям Профсоюза и Профсоюзу.</li>
              </ol>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-10">
              <h1 style="text-align:center; color: black;">Полезные ссылки для членов профсоюза</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>
              <a href="http://www.pronm.ru/" style="color: blue;">Сайт Московской городской организации профсоюза
                работников народного образования и науки Российской федерации</a>
            </h5>
          </p>
          <p class="mtb-3">
            <h5>
              Информативный сайт о деятельности и программах МГО профсоюза
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <a href="http://www.roi.ru/" style="color: blue;">Сайт Российской общественной инициативы</a>
            </h5>
          </p>
          <p class="mtb-3">
            <h5>
              Сайт для неравнодушных людей, где можно участвовать в голосовании за инициативы на муниципальном,
              региональном и федеральном уровнях
            </h5>
          </p>
          <p class="mtb-25">
            <h5>
              <a href="http://pronm.educom.ru/" style="color: blue;">Селекторный час</a>
            </h5>
          </p>
          <p class="mtb-3">
            <h5>
              В режиме реального времени появилась возможность принимать участие в обсуждении злободневных вопросов
            </h5>
          </p>
        </div>
      </div><!-- col-sm-8 -->
      <div class="col-md-12 col-lg-4">
      </div><!-- col-sm-4 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}