{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} О профкоме {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;"> Профком МИЭТ
              </h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">Первичная профсоюзная организация сотрудников
             и студентов МИЭТа организована в марте 2001 года в результате объединения
              Первичной профсоюзной организации сотрудников МИЭТа и Первичной профсоюзной организации студентов МИЭТа.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">С 1992 года по март 2012 Профсоюзом МИЭТа руководила Инна Михайловна Карасёва.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">С апреля 2013 года Председателем профкома является к.и.н.,
             доцент кафедры философии и социологии Ирина Михайловна Горбачева.
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">Основные направления работы профкома:</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <al>
                <li>Заключение коллективного договора и контроль за его выполнением</li>
                <li>Помощь в организации лечения в санатории-профилактории</li>
                <li>Оказание материальной помощи нуждающимся сотрудникам и студентам</li>
                <li>Материальная поддержка социально незащищенных студентов через АПОС</li>
                <li>Участие в распределении стипендиального фонда (именные, академические и социальные стипендии)
                 социально-незащищенным студентам</li>
                <li>Оформление социальных карт москвича для студентов МИЭТ</li>
                <li>Оформление карт пенсионного страхования, карт сбербанка</li>
                <li>Поддержка семей с детьми и молодых студенческих семей</li>
                <li>Бесплатные завтраки для первокурсников, проживающих в общежитии</li>
                <li>Организация экскурсий, туристических поездок</li>
                <li>Организация зимнего и летнего отдыха</li>
                <li>Участие в организации спортивно-оздоровительных и культурно-массовых мероприятий</li>
                <li>Поддержка студенческих инициатив</li>
                <li>Премирование призеров научных олимпиад</li>
              </al>
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;"><a href="https://miet.ru/upload/content/PROFKOM/Postanovlenie_XXIII_profkonferencia.pdf" style="color: blue;">Постановление XXIII отчетно-выборной конференции профсоюзной организации сотрудников и студентов МИЭТ 10 ноября 2016 г.</a>
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;"><a href="https://miet.ru/upload/content/PROFKOM/Sovmestnye_meropriyty_KD.pdf" style="color: blue;">Совместные мероприятия администрации и профкома по выполнению коллективного договора</a>
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;"><a href="https://miet.ru/upload/content/PROFKOM/Publichnyi_dokllad_2018.pdf" style="color: blue;">Публичный доклад о работе первичной профсоюзной организации сотрудников и студентов МИЭТ за 2018 год</a>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">График работы профкома</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5>
                    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Климова О.А.,

зам. председателя, специалист</th>
                <th scope="col">Кирилина Л.Б., специалист</th>
                <th scope="col">Шигаева И.М.,

главный бухгалтер</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Понедельник</th>
                <td>-</td>
                <td>10.00-16.00</td>
                <td>10.00-16.00</td>
              </tr>
              <tr>
                <th scope="row">Вторник</th>
                <td>-</td>
                <td>10.00-16.00</td>
                <td>10.00-16.00</td>
              </tr>
              <tr>
                <th scope="row">Среда</th>
                <td>10.00-16.00</td>
                <td>10.00-16.00</td>
                <td>10.00-16.00</td>
              </tr>
              <tr>
                <th scope="row">Четверг</th>
                <td>10.00-16.00</td>
                <td>-</td>
                <td>10.00-16.00</td>
              </tr>
              <tr>
                <th scope="row">Пятница</th>
                <td>9.30-15.30</td>
                <td>-</td>
                <td>10.00-15.00</td>
              </tr>
            </tbody>
          </table>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-10">
              <h1 style="text-align:center; color: black;">Документы, регламентирующие деятельность профсоюзной организации:</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <al>
                <li><a href="https://miet.ru/upload/content/SvedenMIET/Kollektiv_dogovor_2019-2022.pdf" style="color: blue;">Коллективный договор на 2019 - 2022 г.г.</a></li>
                <li><a href="http://miet.ru/upload/content/PROFKOM/Pol_PPO_MIET_2001_11_19.pdf" style="color: blue;">Положение о первичной профсоюзной организации сотрудников и студентов МИЭТа</a></li>
                <li><a href="https://miet.ru/structure/s/1905/e/61146/355" style="color: blue;">План работы объединенного профкома МИЭТ на 2019 г.</a></li>
              </al>
            </h5>
          </p>
        </div>
      </div><!-- col-sm-8 -->
      <div class="col-md-12 col-lg-4">
      </div><!-- col-sm-4 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}