{% extends "miet_union/base.html" %}
{% load static %}
{% block title %}Страница Входа{% endblock %}

{% block content %}
<section class="">
  <div class="container">
    <div class="row mx-auto">
      <div class='col-md-6 offset-3'>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          {% if not password_reset_form %}
          <form action="" method="post"> {% csrf_token %}
            <h3 class="p-title">Изменние пароля</h3>
            <div style="margin-top: 0px">{{ email_form.email }}</div>
            <div class="container" style="padding: 0px">
              <div class="row">
                <div class='col-md-12'>
                  <button type="submit" class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block font-11"
                    style="margin-top: 7px; font-size: 1.1em; height: calc(1.5em + 0.75rem + 2px); line-height: calc(1.5em + 0.75rem + 2px); width: 100%">
                    Получить письмо
                  </button>
                </div>
              </div>
            </div>
          </form>
          {% elif password_reset_form %}
          <form action="" method="post"> {% csrf_token %}
            <h3 class="p-title">Изменние пароля</h3>
            <div style="margin-top: 15px">{{password_reset_form.password}}</div>
            <div style="margin-top: 7px">{{password_reset_form.confirmed_password}}</div>
            <button type="submit" class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block font-11"
              style="margin-top: 7px; font-size: 1.1em; height: calc(1.5em + 0.75rem + 2px); line-height: calc(1.5em + 0.75rem + 2px); width: 100%">
              Изменить
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}